#headerRow {
  background-color: blanchedalmond;
}

#headerRow #leftCol {
  padding-left: 40%;
  padding-top: 1%;
}

#headerRow #rightCol {
  padding-top: 1%;
  padding-right: 2%;
  padding-bottom: 1%;
}

#startOverButton:hover {
  background-color: cyan;
}
